
        .product-img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
           
            background-image: url("../../../assets/static/images/tomato.jpg");
            width: 100%;
            height: 250px;
        }
  
        .product-img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         
            background-image: url("../../../assets/static/images/tomato.jpg");
            width: 100%;
            height: 250px;
        }
  